{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 500px;">
        <h4 class="card-title text-center mb-4">Change Password for {{ user.first_name|capfirst }}</h4>
        <form action="" method="POST">
            {% csrf_token %}
            
            <!-- Current Password Input -->
            <div class="mb-3">
                <label for="old_password" class="form-label">Current Password</label>
                <input type="password" name="old_password" class="form-control form-control-lg" id="old_password" required>
            </div>
            
            <!-- New Password Input -->
            <div class="mb-3">
                <label for="new_password1" class="form-label">New Password</label>
                <input type="password" name="new_password1" class="form-control form-control-lg" id="new_password1" required>
            </div>
            
            <!-- Confirm New Password Input -->
            <div class="mb-3">
                <label for="new_password2" class="form-label">Confirm New Password</label>
                <input type="password" name="new_password2" class="form-control form-control-lg" id="new_password2" required>
            </div>
            
            <!-- Save Button -->
            <button type="submit" class="btn btn-success w-100">Save</button>
        </form>
  
    </div>
</div>
{% endblock %}
