{% extends 'base.html' %}

{% block title %}Addpost{% endblock %}

{% block body %}

  <div class="container">
    <div class="m-2 mt-3 mb-5">
      {% if user.is_authenticated %}
      <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Post</button>
        </form>
    </div>
      {% else %}
        <p>You are not logged in</p>
        <a class="btn btn-outline-primary" href="{% url 'account:login' %}">Log In</a> |
        <a class="btn btn-outline-secondary" href="{% url 'account:register' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>

{% endblock %}