{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block body %}

<center class="mt-5">
    {% if user.is_authenticated %}
    <h1>Delete Post</h1>
    <form method="POST">
    {% csrf_token %}
    <p>Are you sure to delete the post</p>
    <button type="submit" class="btn btn-outline-danger">Yes</button>
    <a class="btn btn-outline-primary" href="/">Cancel </a>
    {% else %}
    <p>You are not logged in</p>
    <a class="btn btn-outline-primary" href="{% url 'account:login' %}">Log In</a> |
    <a class="btn btn-outline-secondary" href="{% url 'account:register' %}">Sign Up</a>
    {% endif %}
</center>

{% endblock %}